:root {
    --calendar-border: 1px solid var(--clr-primary);
    --clr-primary: #517dbe;
    --clr-primary-lt: #e3ebf7;
    --clr-primary-wt: #f3f8ff;
    --clr-secondary: #51a1be;
    --clr-holiday: #e47070;
    --clr-danger: #e71717;
    --clr-danger-lt: #fcdcdc;
    --nav-height: 74px;
    --calendar-row-header-height: 82px;
}

* {
    font-family: "Barlow";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--clr-primary);
}

a:hover {
    opacity: 0.9;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid #aaa;
    font-size: 16px;
    padding: 4px 0;
}

input:focus {
    border-bottom: 2px solid var(--clr-primary);
    transition: all 0.2s ease-out;
}

/* FLEX UTILS */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    width: 100%;
}

.flex-1 {
    flex: 1 1 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-10 {
    gap: 10px;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

/* EVENT FORM */
.event-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    width: 400px;
    margin-left: 0;
    transition: all 0.2s ease;
}

.event-form.hidden {
    margin-left: -400px;
}

.event-form.hidden * {
    visibility: none;
}

.form-header {
    display: flex;
    align-items: center;
}

.form-header h1 {
    flex: 1;
}

input#title {
    font-size: 24px;
}

input:invalid {
    border-bottom: 2px solid var(--clr-danger);
    background-color: var(--clr-danger-lt);
}

.form-label {
    font-size: 12px;
}

.form-input {
    position: relative;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.password-toggle {
    position: absolute;
    right: 0;
}

.event-form .hidden {
    display: none;
}

.form-error {
    color: var(--clr-danger);
    font-size: 14px;
}

.flash-message {
    background: #fff;
    border-bottom: 2px solid var(--clr-primary);
    box-shadow: 0 0 20px #aaaaaa75;
    position: fixed;
    /* bottom: 2rem; */
    /* right: 1rem; */
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
}

/* BUTTON */
.btn {
    padding: 8px 16px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 32px;
    background-color: #fff;
    color: var(--clr-primary);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.btn:hover,
.btn:focus {
    opacity: 0.8;
}

.btn-with-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-icon {
    background-color: #fff;
    color: var(--clr-primary);
    border-radius: 50%;
    padding: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.btn-icon i {
    width: 16px;
    height: 16px;
}

.btn:hover,
.btn:focus,
.btn-icon:hover,
.btn-icon:focus {
    background-color: var(--clr-primary-lt);
    color: var(--clr-primary);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--clr-primary);
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    box-shadow: 0 1px 0 #aaa;
}

.btn-save {
    width: 100px;
    align-self: flex-end;
}

.btn-save:hover,
.btn-save:focus {
    box-shadow: 0 1px 0 #aaa;
}

.btn-danger {
    opacity: 0;
    color: var(--clr-primary);
}

.btn-danger:hover,
.btn-danger:focus {
    opacity: 1;
    color: var(--clr-holiday);
}

.btn:disabled {
    background-color: #999;
    cursor: not-allowed;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-bottom: var(--calendar-border);
    background-color: #fff;
    height: var(--nav-height);
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
    flex: 1 0 0;
    cursor: default;
}

.navbar-active {
    background-color: var(--clr-primary);
    color: #fff;
}

.notification::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
    z-index: 1000;
}

.dropdown-contents {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: #fff;
    border: var(--calendar-border);
    border-radius: 16px;
    box-shadow: 0 2px 0 #ccc;
    animation: fade-in 0.2s ease forwards;
}

.greeting {
    padding: 8px;
    text-align: center;
    font-size: 1.25rem;
}

/* SEARCH BAR */
.search-bar {
    flex: 0.5;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 32px;
    position: relative;
}

.search-bar i {
    position: absolute;
    width: 32px;
    color: var(--clr-primary);
    text-align: center;
}

.search-bar .btn-clear {
    position: absolute;
    right: 0;
    background-color: transparent;
}

.search-bar input {
    flex: 1;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

/* LIST VIEW */
.event-list-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - var(--nav-height));
    padding: 20px 32px 100px;
    animation: fade-in 0.5s ease forwards;
}

.event-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.event-list-month-title {
    padding-left: 32px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--clr-primary-lt);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    transition: all 0.2s ease;
}

.event-list-month-title:not(:first-of-type) {
    margin-top: 20px;
}

.event-list-month-title:hover {
    color: var(--clr-primary);
}

.event-list-item {
    display: flex;
    align-items: center;
    border-color: #fff;
    background-color: #fff;
    padding: 4px 8px;
    transition: all 0.2s ease-out;
}

.event-list-item:hover .btn {
    opacity: 1;
}

.event-item-title {
    flex: 1 1 0;
    cursor: pointer;
    font-size: 16px !important;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4px 8px;
    transition: all 0.2s ease;
}

.event-item-title:hover {
    background-color: var(--clr-primary-lt);
}

.event-item-time {
    color: #aaa;
    font-size: 12px;
}

.event-day {
    font-weight: 900;
    color: var(--clr-primary);
    border-radius: 100%;
    margin-right: 16px;
    width: 16px;
    display: inline-block;
}

.no-events {
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* GRID VIEW */
.calendar-container {
    display: flex;
    flex: 1 1 0;
}

.calendar-grid {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.calendar-row {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.calendar-row-header {
    height: var(--calendar-row-header-height);
    overflow: unset;
}

.calendar-weekday {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: var(--clr-primary);
    color: #fff;
    flex: 1 1 0;
    border-left: var(--calendar-border);
    padding: 8px;
    cursor: default;
}

.calendar-weekday:last-child {
    border-right: var(--calendar-border);
}

.calendar-day {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-left: 4px;
    padding-left: 2px;
    border-top: var(--calendar-border);
    border-left: var(--calendar-border);
    background-color: #fff;
    cursor: pointer;
    overflow-y: clip;
}

.calendar-day-number {
    font-size: 14px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--clr-primary);
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease;
}

.holiday {
    color: var(--clr-holiday);
}

.today {
    color: #fff;
    background-color: var(--clr-primary);
}

.other-month {
    color: #999;
}

.calendar-day.other-month {
    background-color: #eee;
}

.calendar-day:hover {
    background-color: var(--clr-primary-wt);
}

.calendar-row:last-child .calendar-day {
    border-bottom: var(--calendar-border);
}

.calendar-event-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 8px;
    position: relative;
    height: 100%;
}

.calendar-event {
    cursor: pointer;
    background-color: var(--clr-primary);
    color: #fff;
    font-size: 12px;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
    position: absolute;
    z-index: 999;
}

.calendar-event:hover {
    /* opacity: 0.8; */
    box-shadow: 0 1px 0 #999;
}

.calendar-event.participant {
    background-color: var(--clr-secondary);
}

.calendar-event.holiday {
    background-color: var(--clr-holiday);
}

.calendar-event form {
    display: flex;
    align-self: flex-start;
    position: absolute;
    right: 4px;
}

.calendar-event form:hover {
    background-color: var(--clr-primary);
}

.btn-icon-sm {
    padding: 0;
    font-size: 12px;
    height: 16px;
    width: 16px;
}

.calendar-event .btn-icon-sm {
    background-color: var(--clr-primary);
    color: #fff;
}

.calendar-event .btn-icon-sm:hover,
.calendar-event .btn-icon-sm:focus {
    background-color: #fff;
    color: var(--clr-primary);
}

/* YEAR CALENDAR */
.year-grid {
    flex: 1 1 0;
    display: grid;
    grid: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 10px;
    background-color: #fff;
    animation: fade-in 0.2s ease forwards;
}

.year-grid-cell {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.month-name {
    font-weight: 700;
    text-align: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    padding-top: 16px;
    padding-bottom: 10px;
    flex: 0 0 0;
}

.month-name:hover,
.month-name:focus {
    color: var(--clr-primary);
}

.calendar-row-sm {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
    justify-content: center;
}

.calendar-day-sm {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.calendar-week-sm {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: default;
}

.year-grid-cell .calendar-row-sm:first-of-type {
    border-bottom: 2px solid var(--clr-primary-lt);
}

.calendar-day-sm.has-event {
    background-color: var(--clr-primary-lt);
}

.calendar-day-sm:hover {
    background-color: var(--clr-primary-lt);
}

/* WEEK GRID */
.week-grid-container {
    max-height: calc(
        100vh - var(--nav-height) - var(--calendar-row-header-height)
    );
    overflow: auto;
}

.week-grid {
    display: flex;
    background-color: #fff;
    flex: 1;
}

.hour-col {
    display: flex;
    flex-direction: column;
}

.hour-col * {
    flex: 1;
    width: 32px;
    padding: 0 8px 0 0;
    font-size: 12px;
    text-align: right;
    position: relative;
    top: -8px;
}

.hour-col *:first-child {
    top: 0;
    padding: 0;
}

.week-events-grid-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.calendar-row-weekday {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
    padding: 8px 0;
    background: var(--clr-primary);
}

.calendar-row-weekday-name {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.calendar-row-weekday-number {
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.2s ease;
}

.calendar-row-weekday-number.today {
    background-color: #fff;
    color: var(--clr-primary);
}

.calendar-row-weekday-number:hover {
    opacity: 0.8;
}

.calendar-row-weekday-number:hover,
.calendar-row-weekday-number:focus {
    background-color: #fff;
    color: var(--clr-primary);
}

.week-row {
    display: flex;
}

.week-cell {
    cursor: pointer;
    border-bottom: var(--calendar-border);
    border-left: var(--calendar-border);
    flex: 1;
    height: 74px;
}

.week-cell:hover {
    background-color: var(--clr-primary-wt);
}

.week-cell .calendar-event-list {
    margin-top: 2px;
    margin-left: 2px;
    padding-right: 8px;
}

.week-row:first-of-type .week-cell {
    border-top: none;
}

.week-row:last-child .week-cell {
    border-bottom: none;
}

.line-col {
    display: flex;
    flex-direction: column;
    width: 8px;
}

.line-col > * {
    border-bottom: var(--calendar-border);
    flex: 1;
}

.line-col > *:last-child {
    border-bottom: 1px solid transparent;
}

.scroll-width {
    overflow: scroll;
    visibility: hidden;
}

.calendar-event.starts-before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.calendar-event.ends-after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* LOADING BAR */
.loading-bar {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.loading-bar.hidden {
    opacity: 0;
}

.loading-bar-fill {
    position: absolute;

    width: 25%;
    height: 100%;
    background-color: var(--clr-primary);
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        left: -25%;
    }
    to {
        left: 100%;
    }
}

.loading-content {
    opacity: 0.8;
}

/* USER PICKER */
.user-picker-option-contents {
    border: var(--calendar-border);
    border-top: none;
    padding: 10px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user-picker-option {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 4px;
    transition: all 0.2s ease;
}

.user-picker-option:hover,
.user-picker-option:focus {
    background-color: var(--clr-primary-lt);
}

.user-picker-participant-count {
    font-size: 12px;
    margin-top: 20px;
}

.user-picker-item {
    padding: 4px;
    background-color: var(--clr-primary-wt);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opaque-on-hover {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.opaque-on-hover-trigger:hover .opaque-on-hover {
    opacity: 1;
}

.text-sm {
    font-size: 12px;
}

.btn-remove-participant {
    height: 100%;
    border-radius: 0%;
}

/* NOTIFICATION LIST */
.notification-list {
    width: 320px;
    max-height: 50vh;
    overflow: auto;
}

.notification-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 8px 8px;
}

.notification-message:nth-of-type(n + 2) {
    border-top: var(--calendar-border);
}

.unread {
    background-color: var(--clr-primary-lt);
}

.no-notifications {
    width: 100%;
    padding: 32px;
    text-align: center;
}
